@import "tailwindcss";

@theme {
  --color-primary: #e1c275;
}

:root {
  --background: #130f0b;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ice-cream-man);
  color: rgba(255, 255, 255, 0.848);
}

.header-btn {
  height: 50px;
  width: 200px;
  border: 1px solid #e1c27582;
  background: #130f0b;
  display: flex;
  align-items: center;
}

.header-btn:hover {
  border: 1px solid var(--color-primary);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  color: #000;
  transform: scale(1.04);
}

.wave-line-top-bottom {
  clip-path: polygon(
    0% 18%,
    12% 30%,
    24% 20%,
    36% 13%,
    48% 15%,
    60% 25%,
    72% 15%,
    84% 13%,
    100% 15%,

    100% 82%,
    88% 86%,
    76% 84%,
    69% 80%,
    52% 85%,
    40% 90%,
    28% 86%,
    16% 88%,
    0% 89%
  );
}

.wave-line-top {
  clip-path: polygon(
    0% 18%,
    12% 30%,
    24% 40%,
    36% 13%,
    48% 15%,
    60% 35%,
    72% 15%,
    84% 7%,
    100% 15%,

    100% 100%,
    0% 100%
  );
}
